.carousel-item {
    scroll-snap-align: center;
}

.carousel {
    height: 800px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 33vw;
    grid-gap: 3rem;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding: 0 1rem;
    -webkit-overflow-scrolling: touch;
}

.carousel::-webkit-scrollbar {
    display: none;
}